body{
    margin: 0;
    background-color: #ffffff;
}
.card-container {
    background-color: rgb(111, 107, 107);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}   
h1,
h2,
h3 {
    color: #6f1010;
    font-size: 20px;
    font-weight: bold;
}
.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

img {
    border-radius: 10px;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin-top: 5px;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.innerDiv {
    width: 300px;
    border-radius: 10px;
    border-color: black;
    border: 2px solid black;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}
.viewmore {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px ;
    cursor: pointer;
    border-radius: 5px;
}
.navDiv{
    background-color: black;
      bottom : 0;
  position: sticky; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.previousButton,
.nextButton { 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  padding-left :5px;
  justify-content: space-between;
  margin :10px ;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}
.header{
  top :0;
  position : sticky; 
  text-align:center;
  font-size:45px;
  background-color: #050505;
  color: #c40000;
  font-family: 'Creepster';
  background: radial-gradient(circle, #1a0000 0%, #000000 100%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
.searchdiv{
    top :45px;
    position : sticky; 
    display : flex;
    justify-content:center;
    background-color:black;
    


}
.searchBar{
    color :#ffffff;
    text-align : center;
    position : relative;
    margin:5px;
    width :50px;
    height : 50px;
    background-color:black;
    text-decoration-color: #ffffff;
    border-radius: 100px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0px 10px 25px  25px #dc1e1e33;
    border: 2px solid #6f1010;

   
    
}

.searchBar::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color:#6f1010;
  size:100px
}

.searchBar:hover{
    width : 300px;
    border-color: #6f1010;


}
