.card-container {
    background-color: rgba(0, 0, 0, 0.247);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}   
h1,
h2,
h3 {
    color: #2c39a0;
    font-size: 20px;
    font-weight: bold;

}
p{
    font-size: medium;
}
.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

img {
    border-radius: 10px;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin-top: 5px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.innerDiv {
    width: 300px;
    border-radius: 10px;
    border-color: black;
    border: 2px solid black;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

}
.viewmore {
    background-color: #2c39a0;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px ;
    cursor: pointer;
    border-radius: 5px;
}
.navDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.previousButton,
.nextButton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 0, 2);
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  padding-left :5px;
  justify-content: space-between;
  margin :10px 
  
}